body {
    font-family: Arial, Helvetica, sans-serif;
}



    #login-block .toggle-item {
        text-align: left;
        cursor:pointer;
    }

    #login-block .popup-form {
        background-color: grey;
        border: solid 1px black;
        padding: 2px;
        font-size: 10px;
    }



input,
textarea {
    font-size: 18px;
    width: 400px;
}

    input[type=submit] {
        width: auto;
    }

label {
    font-size: 17px;
}



#formdiv {
    background-color: rgb(143, 181, 240)
}

    #formdiv input[type=submit] {
        background-color: green;
        color: white;
    }


ul.specialist-plants {
    font-size: medium;
}

    ul.specialist-plants li {
        color: blue;
        list-style-type: disc;
    }



.PlantList {
    margin: 15px;
    border: 3px solid grey;
    padding: 5px;
    display: inline-block;
    border-radius: 8px;
    background-color: bisque;
}

    .PlantList img {
        margin: 15px;
        border: 2px solid rgb(212, 212, 212);
        padding: 5px;
        display: inline-block;
        border-radius: 5px;
    }



.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        font-size:x-small;
        visibility: hidden;
        width: 275px;
        background-color: black;
        opacity: 0.6;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
/*         Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }



